# --- Wazuh Stack Configuration ---
# Versão das imagens do Wazuh a serem utilizadas
WAZUH_VERSION=4.7.4

# --- Senhas e Credenciais ---
# Senha para o usuário 'admin' do Wazuh Dashboard. Será criada no primeiro boot.
# IMPORTANTE: Altere esta senha para algo seguro!
WAZUH_ADMIN_PASSWORD=SecretPassword!

# Senha interna para o Wazuh Indexer. Pode deixar como está, será gerada automaticamente se o arquivo não existir.
WAZUH_INDEXER_PASSWORD=SecretIndexerPassword

# --- Mapeamento de Portas ---
# Porta para acessar o Wazuh Dashboard via HTTPS
DASHBOARD_PORT=443